# Binaries for programs and plugins
*.exe
*.exe~

# Test binary, built with `go test -c`
*.test

**/__pycache__
**/build/
**/objs/
*.egg-info
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.pytest_cache
*.pt

# diffusion-gemma
diffusion_gemma_*.md
diffusion_gemma*.md
flashinfer_gemma.md



# Dependency directories (remove the comment below to include it)
vendor/
.idea
.vscode
.cache
*.DS_Store
target/
scheduler/test/misc
manager/dist/*
!manager/dist/.gitkeep
.chglog

# docs related
**/dynamic-scheduling.md
code_reorg.md

# slurm related
**/slurm/

# kernel related
**/profiling/
*.ncu-rep
*.nsys-rep
*.sqlite

# dataset related
**/swebench_pro/
**/swebench_pro.jsonl
**/agentic_dataset_flash.json
**/agentic_dataset.sh
**/build_swe_smith_dataset.py
**.parquet

# GH200 related
**/debug/
**/gh200/
**/openai/
**/scripts/
*.def


# B200 related
**/b200/


# agent related
**/skills/

# foundry related
**/foundry/

# docker commands
**/commands/
!docker/commands/
docker/commands/*
!docker/commands/start_foundry_docker.sh

# experimental runs
**/runs/
**/tp*/

# evalscope
**/outputs/
**/agentic_bench.sh
**/mbpp_batched_bench.sh
**/gsm8k_batched_bench.sh
**/alpaca_bench_batched.sh
**/bigcode_bench_batched.sh
**/bigcode_batched_bench.sh
**/long_bench.sh




# tools
**/tools/
**/*_audit.**
**.jinja

# mysql
mysql

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

logs

# cuda 
*.o
*.build
*.so


# C++
build-docker

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

artifacts
.run
deploy/docker-compose/log
deploy/docker-compose/config
test/e2e/v1/*.log
test/e2e/*.log
# Exclude build artifacts
bin/
.sgl-kernel-audit/
.sgl-kernel-benchmarks/
